<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ng-gem-puzzle</title>

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="apple-touch-icon" href="touch-icon.svg">

        <link rel="stylesheet" href="dist/main.css" type="text/css" />

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>

        <script src="dist/app.js"></script>
    </head>

    <body ng-app="gem-puzzle" onload="FastClick.attach(this)">
        <div class="gem-puzzle" ng-controller="GemController">
            <div class="gem-grid gem-grid_game-over_{{endGame}}"
                 gem-init
                 style="width: {{size * cols}}px">
                <div class="gem-cell gem-cell_animated"
                     ng-repeat="gem in gems">
                    <div class="gem gem_color_{{gem.color}} gem_exploded_{{gem.exploded}}"
                         style="width: {{size}}px; height: {{size}}px;"
                         ng-click="explode(gem)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             ng-attr-view_box="0 0 {{gem.viewBox}} {{gem.viewBox}}"
                             class="gem__svg">
                            <polygon class="gem__polygon" ng-attr-points="{{gem.points}}" />
                        </svg>
                    </div>

                    <span class="gem-count" ng-show="initiatedExplosion(gem)">
                        {{getExplodedCount()}}
                    </span>
                </div>
            </div>

            <div class="gem-stats">
                <ul>
                    <li><strong>Gems:</strong> {{stats.gems}}</li>
                    <li><strong>Matches:</strong> {{stats.strings}}</li>
                    <li><strong>Longest:</strong> {{stats.maxString}}</li>
                </ul>
            </div>

            <div class="gem-dialog gem-dialog_animated" ng-show="endGame">
                <h2>Game over!</h2>

                <p>
                    Your score is {{stats.totalScore}}
                </p>

                <button ng-click="restart()">
                    Restart
                </button>
            </div>
        </div>
    </body>
</html>
